<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>

  <body>
    <header>
      <h1>Desert Moon</h1>
      <button id="dark-mode-toggle">Toggle Dark Mode</button>
    </header>

    {% if page.hero %}
    <section class="hero-section">
      {{ page.hero }}
    </section>
  {% endif %}


    <main class="container-fluid">
      {{ page.content }}
    </main>

    <footer>
      <p>© Angelos</p>
    </footer>

    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
